* {
    box-sizing: border-box;
}
body { 
    background-color: #e8f5e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b5e20;
    margin: 0;
    padding: 0;
}
header { 
    background-color: #aae6ac; 
    padding: 40px 20px;
    text-align: center;
    border-bottom:  3px solid #4caf50;
}
header p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
}

header ul { 
    padding: 0;
    margin: 0;
    list-style: none;
}
header li { 
    display: inline-block;
    margin: 0 15px;
}

header a { 
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: 0.3s;
}

header a:hover { 
    color: #ffffff;
    background-color: #4caf50;
    border-radius: 5px;
}
header div { 
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
}
.section { 
    padding: 10px 15px;
    text-align: center; 
    margin: 10px;
    border-radius: 10px;
}
.hobby, .simple-food, .services {
    background-color: #c8e6c9;
    border: 2px solid #4caf50;
    border-radius: 20px;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
.section p {
    line-height: 1.6;
    font-weight: normal;
    font-size: 20px;
    text-align: center; 
    margin-bottom: 20px;   
}
button {
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    color: #1b5e20;
    border: 3px solid #4caf50;
    padding: 10px 20px;
    border-radius: 15px;
}
button:hover {
    color: rgb(6, 54, 6);
    background-color: #4caf50;
}
footer {
    background-color: #aae6ac;
    color: #1b5e20;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: 1px solid #4caf50;
    border-radius: 5px;
}
